/* All */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

/* Sfondo */
body{
    background-repeat: no-repeat;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Main */

.main_container{
    display: flex;
}

    .side_sx{
        width: 52%;
        margin-top: -40px;
        margin-left: -26px;
        flex-wrap: nowrap;
        overflow: hidden;
        font-size: 180px;
        text-align: center;
        white-space: nowrap;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: rgba(255, 255, 255, 0.72) 1px;
        line-height: 130px;
        box-shadow:0 30px 40px rgba(255, 255, 255, 0.291);
        user-select: none;
    }

        .white_fill{
            -webkit-text-fill-color: rgba(255, 255, 255, 0.681);
            -webkit-text-stroke: transparent 1px;
        }

    .side_dx{
        height: 100vh;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

        .title{
            font-size: 40px;
            color: #fff;
            font-weight: bold;
            text-align: center;
            padding-bottom: 20px;
            -webkit-text-stroke: rgba(0, 0, 0, 0.339) 1px;
            line-height: 60px;
            user-select: none;
        }

            #sicurissima{
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: rgba(255, 255, 255, 0.72) 1px;
                font-size: 75px;
            }

            /* Animazione (presa online)*/
            @import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
            .decode-text {
            width: 100%;
            font-size: 50px;
            text-align: center;
            font-family: "Share Tech Mono", monospace;
            }

            .text-animation {
            display: inline-block;
            position: relative;
            color: transparent;
            text-transform: uppercase;
            }

            .text-animation:before {
            content: "";
            color: black;
            position: absolute;
            top: 50%;
            left: 50%;
            background: #0e182d;
            width: 0;
            height: 1.2em;
            -webkit-transform: translate(-50%, -55%);
            -ms-transform: translate(-50%, -55%);
            transform: translate(-50%, -55%);
            animation-iteration-count: infinite;
            }
            .text-animation.state-1:before {
            width: 1px;
            }
            .text-animation.state-2:before {
            width: 0.9em;
            }
            .text-animation.state-3 {
            color: #fff;
            }
            .text-animation.state-3:before {
            width: 0;
            }

        .password_box_with_copy{
            width: 100%;
            display: flex;
            justify-content: center;
        }

            #password_container{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                font-weight: 600;
                width: 50%;
                text-align: center;
                padding: 10px 10px;
                background-color: rgba(255, 255, 255, 0.179);
                border-radius: 20px;
                color: #fff;
                box-shadow:0 30px 40px rgba(255, 255, 255, 0.291);
                font-family: 'DejaVu Sans Mono', sans-serif;
            }

            .copy_button{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 10px;
                font-size: 25px;
                font-weight: 600;
                width: 10%;
                text-align: center;
                padding: 10px 10px;
                background-color: rgba(255, 255, 255, 0.179);
                border-radius: 20px;
                color: #fff;
                box-shadow:0 30px 40px rgba(255, 255, 255, 0.291);
            }

            .copy_button:hover {
                background-color: rgba(255, 255, 255, 0.282)
            }

            .copy_button:active {
                background-color: rgba(255, 255, 255, 0.402)
            }