/* All */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

/* Sfondo */
body{
    background-repeat: no-repeat;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Main */

.main_container{
    display: flex;
}

    .side_sx{
        width: 50%;
        flex-wrap: nowrap;
        overflow: hidden;
        font-size: 180px;
        text-align: center;
        white-space: nowrap;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: white 1px;
        line-height: 130px;
    }

    .side_dx{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

        .title{
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            padding-bottom: 20px;
        }

        #password_container{
            font-size: 25px;
            font-weight: 400;
            width: 60%;
            text-align: center;
            padding: 10px 0;
            background-color: rgba(255, 255, 255, 0.325);
            border-radius: 20px;
        }